.text {
  font-size: 18px;
  line-height: 1em;
  margin-right: 28px;
  color: var(--text-color-white);
  margin-left: 14px;
}

.icon {
  background-color: #fff;
  padding: 12px;
  border-radius: 30px;
}