@import '@/shared/styles/mixins.scss';

.section {
  padding-top: 117px;
  padding-bottom: 135px;
  width: 100%;
  background-image: url('@/shared/assets/images/bgHelp.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @include on-phone {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  & :last-child {
    width: 378px;

    @include on-phone {
      width: fit-content;
    }
  }
}

.title {
  margin-bottom: 55px;
  width: 75%;

  @include on-phone {
    margin-bottom: 55px;
  }
}