.btn {
  padding: 17px 24px;
  border: 1.5px solid #fff;
  // border-radius: 5px;
  cursor: pointer;
  color: var(--text-color-white);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 160px;
}