@import '@/shared/styles/mixins.scss';

.footer {
  background-color: var(--bg-ft-hd);
  padding-top: 115px;
  padding-bottom: 30px;

  @include on-tablet {
    padding-top: 50px;
  }
  @include on-phone {
    padding-top: 24px;
  }
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  gap: 118px;
  margin-bottom: 114px;

  @include on-tablet {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 60px;
    margin-bottom: 50px;
  }

  @include on-phone {
    margin-bottom: 37px;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
    align-items: center;
    gap: 24px;
  }


  & :last-child {
    @include on-phone {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.block1 {
  @include on-phone {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
}

.block3 {
  @include on-phone {
    margin-left: 30px;
  }
}

.block4 {
  @include on-phone {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
}

.logo {
  height: 80px;
}
.reports {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

a.report{
  font-size: 24px;
  line-height: 1em;
  color: var(--text-color-white);
  text-decoration: underline;
  text-decoration-line: underline;
  max-width: 60%;

  @include on-phone {
    font-size: 20px;
  }
}

.bottom {
  padding-top: 31px;
  border-top: 1px solid #D9DBE9;
  display: flex;
  justify-content: space-between;

  @include on-phone {
    flex-direction: column-reverse;
    gap: 24px;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color-white);
  gap: 6px;
  font-size: 18px;
  line-height: 1em;

  @include on-phone {
    font-size: 14px;
  }

  & :first-child {
    color: #A8A8A8;
    padding-right: 8px;
    border-right: 2px solid #A8A8A8;
  }

  & :nth-child(2) {
    padding-right: 8px;
    border-right: 2px solid #A8A8A8;
  }
}

.copyright {
  font-size: 18px;
  line-height: 1em;
  color: #A8A8A8;

  @include on-phone {
    font-size: 14px;
  }
}