@import '@/shared/styles/mixins.scss';

.button {
  background-color: var(--bg-color-btn);
  border-radius: 99px;
  color: var(--taxt-color-white);
}

.withIconLeft {
  padding: 12.5px 18.5px;
  margin-right: 44px;
}

.withIconRight {
  padding: 9px 10px;
  display: flex;
  align-items: center;

  @include on-phone {
    padding: 6.5px;
  }
}

.usual {
  padding: 35px 60px;
  margin-top: 64px;
  font-size: 24px;
  line-height: 1em;
  color: var(--text-color-white);
  margin-inline: auto;
  
  @include on-tablet {
    display: block;
    padding: 25px 40px;
  }
  
  @include on-phone {
    padding: 13px 27px;
    font-size: 14px;
    margin-top: 0;
    display: block;
    margin-inline: auto;
  }
}

.disabled {
  background-color: #FF8D0666;
  cursor:auto;
}