@use '@/shared/styles/mixins.scss' as mixins;
.icon {
  margin-right: 10px;

  @include mixins.on-tablet {
    display: none;
  }
}

.text {
  color: var(--text-color-white);
  font-size: 18px;
  line-height: 1em;

  @include mixins.on-tablet {
    font-size: 14px;
  }
}