.section {
  margin-block: 70px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  text-align: center;
  margin-left: 60px;
  margin-top: -50px;
}

.table {
  border: 2px solid gray;

  th {
    border: 1px solid gray;
    padding: 3px;

  }

  td {
    border: 1px solid gray;
    padding: 15px 10px;
  }
}

.title {
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.row {
  &Active {
    background-color: lightblue;
  }
}

.icon {
  height: 15px;
}

.btn {
  background-color: var(--bg-color-btn);
  border-radius: 99px;
  color: #FFF;
  font-weight: 600;
  padding: 10px 30px;
  width: fit-content;
  margin-inline: auto;
  margin-top: 15px;
}
.modalRow {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  margin-right: 40px;

  p {
    font-size: 18px;
  }

  textarea {
    resize: none;
    width: 40%;
    height: 100px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
  }
}


.item {
  width: 100%;
  margin-bottom: 20px;
  background-color: lightgray;
  padding: 10px;
}

.form {
  width: 80%;
  margin-inline: auto;
  display: flex;
  border: 1px solid gray;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border-radius: 25px;
  padding: 50px;
  margin-bottom: 30px;
  margin: 30px auto 25px auto;

  select {
    border: 1px solid gray;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px;
    outline: none;
  }
}