.resultsList {
  max-width: 100vw;
  max-height: 270px;
  overflow: hidden;
}

.title {
  margin-bottom: 32px;
  margin-left: 110px;
}

.subtitle {
  margin-bottom: 64px;
  margin-left: 110px;
}