.section {
  margin-bottom: 168px;
  // overflow: hidden;
}

.slider {
  width: 100vw;
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.title {
  color: var(--text-color-black);
}

.arrows {
  display: flex;
  gap: 8px;
}

.arrow {
  border-radius: 50%;
  padding: 26px 24px;
  border: 1px solid var(--text-color-black);

}