@import '@/shared/styles/mixins.scss';

.title {
  color: var(--text-color-white);
  margin-bottom: 22px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 22px;

  & :last-child {
    width: 85%;
  }

  @include on-phone {
    gap: 15px;
  }
}

.connect {
  display: flex;
  gap: 10px;
}

.text {
  color: #A8A8A8;
  font-size: 18px;
  line-height: 1.2em;
  text-wrap: wrap;

  @include on-phone {
    font-size: 13px;
  }
}


