@import '@/shared/styles/mixins.scss';

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: fit-content;

  @include on-tablet {
    flex-direction: row;
  }

  @include hover(transform, scale(1.05));
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
}

.img {
  width: 64px;
  height: 74px;

  @include on-tablet {
    width: 42px;
    height: 49px;
  }
}

.text {
  font-size: 18px;
  font-weight: 800;
  line-height: 1em;
  background: linear-gradient(120.86deg, #FFC98A 14.39%, #FF8A00 44.46%, #FF9619 60.68%, #FFA967 89.57%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  // color: var(--text-color-white);

  @include on-tablet {
    font-size: 20px;
  }
}

.subtext {
  margin-top: -7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  color: var(--text-color-white)
}