@use '@/shared/styles/mixins.scss' as mixins;
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  border: 1px solid var(--bg-color-btn);
  border-radius: 25px;
  padding: 5px 10px;

  @include mixins.on-tablet {
    display: none;
  }

  @include mixins.hover(transform, scale(1.05));
}

.icon{
  height: 20px;
  width: 16px;
}
