@import '@/shared/styles/mixins.scss';
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  border: 1px solid var(--bg-color-btn);
  border-radius: 25px;
  padding: 5px 10px;

  @include on-tablet {
    display: none;
  }
}