@import '@/shared/styles/mixins.scss';

.burgerMenu {
  .burgerButton {
    background: none;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    width: 100%;
  }

  .menu {
    border-top: 1px solid #D9DBE9;
    position: fixed;
    top: 150px;
    z-index: 100;
    right: 0;
    height: fit-content;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    background: var(--bg-ft-hd);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;

    @include on-tablet {
      top: 91px;
      padding: 16px;
      padding-top: 5px;
    }
  }

  .closeButton {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
  }
}

.navList :last-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navLink {
  width: 100%;
  display: inline-block;
  font-size: 18px;
  line-height: 1em;
  font-weight: 400;
  color: var(--text-color-white);
  padding-block: 17px;
  border-bottom: 1px solid #D9DBE924;

  &Yellow {
    color: #FFC800;
  }
}