@use '@/shared/styles/mixins.scss' as mixins;

.section {
  margin-top: 57px;
  margin-bottom: 112px;
  width: 50%;
  margin-inline: auto;
  
  @include mixins.on-tablet {
    width: 80%;
    margin-top: 41px;
    margin-bottom: 32px;
  }

  @include mixins.on-phone {
    width: 100%;
  }
}

.content {
  margin-top: -40px;
  margin-left: 30px;
}

.title {
  text-align: center;
  margin-bottom: 77px;

  @include mixins.on-phone {
    margin-bottom: 41px;
  }
}

.form {
  border: 1px solid var(--text-color-black);
  padding: 48px 38px 64px 38px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mixins.on-phone {
    border: none;
    padding: 0;
  }

  &Title {
    margin-bottom: 16px;

    @include mixins.on-phone {
      margin-bottom: 8px; 
    }
  }

  &Input {
    padding-inline: 16px;
    height: 72px;
    width: 100%;
    background-color: #ebebeb;
    border-radius: 12px;
    font-size: 24px;
    line-height: 1em;

    @include mixins.on-phone {
      font-size: 18px;
      height: 52px;
    }

    &Half {
      width: 100%;
    }
  }

  &Textarea {
    padding: 15px;
    height: 150px;
    outline: none;
    background-color: #ebebeb;
    border-radius: 12px;
    width: 100%;
  }
}

.pair {
  width: 100%;
  display: flex;
  gap: 40px;

  @include mixins.on-phone {
    gap: 23px;
  }
}

.select {
  height: 40px;

  @include mixins.on-phone {
    height: 52px;
  }
}