.section {
  margin-top: 128px;
  margin-bottom: 64px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 110px;
  margin-bottom: 64px;
}

.title {
  color: var(--text-color-black);
  margin-bottom: 32px;
}

.left {
  width: 54%;
}

.text {
  font-size: 24px;
  line-height: 28.8px;
}

.img {
  width: 150px;
}

.team {
  display: flex;
  gap: 40px;
}