.section {
  margin-block: 225px;
}
.content {
  width: 55%;
  margin-inline: auto;
}

.title {
  text-align: center;
  font-size: 48px;
  line-height: 57.6px;
  color: var(--text-color-black);
  margin-bottom: 38px;
  font-weight: 600;
}

.img {
  margin-bottom: 60px;
}