@import '@/shared/styles/mixins.scss';

.header {
  width: 100%;
  background-color: var(--bg-ft-hd);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;

  @include on-tablet {
    height: 91px;
  }

  & > :first-child {
    @include on-tablet {
      margin-left: 60px;
    }
  }
}
