@import '@/shared/styles/mixins.scss';

.teammate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  height: 412px;
  padding-bottom: 42px;
  padding-left: 46px;
  border-radius: 20px;

  margin-right: 40px;

  @include on-tablet {
    padding-left: 22px;
    padding-bottom: 22px;
    margin-right: 16px;
    width: 270px;
    height: 276px;
    background-size: cover;
  }

  @include on-phone {
    padding-left: 12px;
    padding-bottom: 12px;
    width: 144px;
    height: 148px;
  }
}

.name {
  font-size: 24px;
  line-height: 1em;
  color: var(--text-color-white);
  margin-bottom: 16px;

  @include on-phone {
    font-size: 12px;
    margin-bottom: 6px;
  }

}

.position {
  font-size: 18px;
  line-height: 1em;
  color: var(--text-color-white);

  @include on-phone {
    font-size: 8px;
  }
}