@use '@/shared/styles/mixins' as mixins;

.section {
  background-image: url(../assets/images/bg.png);
  background-size: cover;
  border-radius: 25px;
  margin-bottom: 128px;
  margin-top: 64px;

  @include mixins.on-phone {
    margin-block: 48px;
  }
}

.content {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 84px 110px 113px;

  @include mixins.on-tablet {
    padding: 37px 16px 57px;
  }
} 

.right {
  width: fit-content;
}
.title {
  margin-bottom: 32px;

  @include mixins.on-tablet {
    max-width: 90%;
  }
}

.subtitle {
  font-size: 28px;
  line-height: 28px;
  color: var(--text-color-white);
  margin-bottom: 160px;
  max-width: 75%;

  @include mixins.on-phone {
    display: none;
  }
}

.img {
  width: 150px;
  aspect-ratio: 1 / 1;

  @include mixins.on-phone {
    width: 50px;
  }
}