.section {
  margin-block: 100px;
}

.form {
  margin-top: -35px;
  width: 80%;
  margin-inline: auto;
  display: flex;
  border: 1px solid gray;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 25px;
  padding: 50px;

  label {
    font-size: 18px;
    font-weight: 700;
  }

  input {
    background-color: lightgray;
    padding: 10px 10px;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
  }

  textarea {
    padding: 10px;
    width: 100%;
    height: 30vh;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 15px;
  }
}

.item {
  width: 100%;
}

.btn {
  background-color: var(--bg-color-btn);
  border-radius: 99px;
  color: #FFF;
  font-weight: 600;
  padding: 10px 30px;
}