@use '@/shared/styles/mixins.scss' as mixins;
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  border: 1px solid var(--bg-color-btn);
  border-radius: 25px;
  padding: 5px 10px;

  @include mixins.on-tablet {
    padding: 0px 10px;
    gap: 15px;
    // height: 35%;
  }

  @include mixins.hover(transform, scale(1.05));


  img {
    width: 35px;
    height: 35px;
    @include mixins.on-tablet {
      width: 25px;
      max-width: none;
    }
  }
}