@use '@/shared/styles/mixins.scss' as mixins;

.navbar {
  margin-left: 63px;
  margin-right: 48px;
}
.navList {
  display: flex;
  align-items: center;
  gap: 55px;
}

.navLink {
  font-size: 18px;
  line-height: 1em;
  color: var(--text-color-white);

  @include mixins.hover(color, var(--bg-color-pressed));
}

.navLink:target,
.navLink.active {
  color: orange;
  text-decoration: underline;
}